
  
<!-- </div>  -->
<div class="container">
    <div class="cover">
        <h1>COURSE CONTENT DEVELOPER.</h1>
      
  
  
<!-- <div> -->
    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
  <button (click)="is11()" class="btn btn-primary">Concept Details</button>
  <ng-container *ngIf="is1">
          HERE WE ARE ABLE TO KNOW ABOUT CONCEPT!!!
  </ng-container>
<!-- </div> -->
<!-- <div> -->
  <button (click)="is12()" class="btn btn-outline-dark">Course Details</button>
  <ng-container *ngIf="is2">

    HERE WE ARE ABLE TO KNOW ABOUT COURSE!!!
  </ng-container>
<!-- </div> -->

<!-- <div> -->
  <button (click)="is13()"class="btn btn-success" >Curriculum Details</button>
  <ng-container *ngIf="is3">

    HERE WE ARE ABLE TO KNOW ABOUT CURRICULUM!!!
  </ng-container>
<!-- </div> -->

<!-- <div> -->
  <button (click)="is14()" class="btn btn-danger">Sub Concept Details</button>
  <ng-container *ngIf="is4">
    
    HERE WE ARE ABLE TO KNOW ABOUT CONCEPT!!!
  </ng-container>
  
<!-- </div> -->

<!-- <div> -->
  <button (click)="is15()" class="btn btn-warning">Quiz or test details</button>
  <ng-container *ngIf="is5">

    HERE WE ARE ABLE TO KNOW ABOUT QUIZ OR TEST!!!
  </ng-container>
<!-- </div> -->

<!-- <div> -->
  <button (click)="is16()" class="btn btn-info">Session details</button>
  <ng-container *ngIf="is6">

    HERE WE ARE ABLE TO KNOW ABOUT SESSION!!!
  </ng-container>

<!-- </div> -->
<!-- <div> -->
  <button (click)="is17()" class="btn btn-light">All details</button>
  <ng-container *ngIf="is7">

    HERE WE ARE ABLE TO KNOW ABOUT ALL DETAILS!!!
  </ng-container>
<!-- </div> -->






<button (click)="goHome()" class="btn btn-primary">COURSE CONTENT DEVELOPER</button>

</div>


</div>


<!-- <div class="text-right">
    <button type="button" class="btn btn-primary">Right Alignment</button>
</div> -->